#container-fluid {
	
	width: 75%;
	height: 90%px;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 1%;

}

body {
	background-image: url("../images/background.jpg");
	background-size: 75%;
	border: solid 2px;
}

h1{
	background-color: white;
	color: white;
	display:inline;
	clear: both;
	padding: 10px;
	margin-bottom: 20px;
	border: solid 1px #ddd;
	font-family: 'Helvetica', sans-serif;
}

#wrapper {
	width: 100%
	max-width:960px;
	margin: 0 auto;
}

#instructions {
	background-color: yellow;
	text-decoration-color: bold, white;
	width: 100%; 
	clear:both;
	padding-right: auto;
	padding-left: auto;
	margin-margin: 5px;
	border: solid 1px #ddd
	border-radius: 10px;
}

#guessNumber {
	background-color: green;
	float: left;
	display: inline-block;
	padding: 2px;
	margin-top: 20px;
}

#scoreBoard {
	background-color: gold;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;

}

#crystals {
	margin-top: 15px;
	margin-bottom:25px;


}

.crystalImage {
	height: 110px;
	border: solid 1px;
	margin-left: 10px;
}

.crystalImage:firstchild {
	margin-left: 0px;

}

#totalScore {
	margin-bottom: 55px;
	border-radius: 65px;
	

}

#yts {
	background: red;
	display: inline;
	padding: 15px;
	border: solid 1px #ddd
}

@media only screen and (min-width: 768px){
	body{
		background-image:url("../images/background.jpg");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
		}
	
